<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ncut.dao.spider.UserInfoMapper">
    <cache type="cn.edu.ncut.configuration.MybatisRedisCache">
        <property name="eviction" value="LRU"/>
        <property name="flushInterval" value="6000000"/>
        <property name="size" value="1024"/>
        <property name="readOnly" value="false"/>
    </cache>
    <resultMap id="BaseResultMap" type="cn.edu.ncut.dto.spider.UserInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="userno" jdbcType="VARCHAR" property="userno"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="signature" jdbcType="VARCHAR" property="signature"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="time" jdbcType="DATE" property="time"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="reading" jdbcType="INTEGER" property="reading"/>
        <result column="hasread" jdbcType="INTEGER" property="hasread"/>
        <result column="wantread" jdbcType="INTEGER" property="wantread"/>
        <result column="followees" jdbcType="INTEGER" property="followees"/>
        <result column="followers" jdbcType="INTEGER" property="followers"/>
        <result column="pic" jdbcType="VARCHAR" property="pic"/>
    </resultMap>
    <resultMap id="locationStatistic" type="cn.edu.ncut.dto.spider.extend.NameValue">
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="value" property="value" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, userno, name, signature, location, time, introduction, reading, hasread, wantread,
        followees, followers, pic
    </sql>

    <!-- 根据Userno查询用户 -->
    <select id="selectByUserno" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_userinfo t
        where t.userno = #{userno}
    </select>
    <select id="selectAllUserNo" resultType="String">
        SELECT userno
        FROM tb_userinfo t
    </select>
    <select id="selectLocationStatistic" resultMap="locationStatistic">
        SELECT
            t.location        AS name,
            count(t.location) AS value
        FROM tb_userinfo t
        GROUP BY t.location
        ORDER BY count(t.location) DESC
    </select>
</mapper>