@charset "utf-8";
/* CSS Document */
* {
	padding: 0px;
	margin: 0px;
}

html, body {
	height: 100%;
	overflow: hidden;
}

body {
	padding: 0px;
	margin: 0px;
	line-height: 1.6;
	font-family: "宋体", Arial, "新宋体";
	color: #222;
	font-size: 14px;
	background-color: #fff;
	overflow: auto
}

ul, li {
	padding: 0;
	margin: 0
}

img {
	border: 0
}

/*正文begin*/

/*组织管理*/
.cp_title {
	width: 255px;
	padding: 0 35px;
	margin-left: 1%;
	text-align:center;
	height: 35px;
	margin-top: 10px;
	padding-top:6px;
	font-size: 16px;
	font-weight: bold;
	color:#fff;
	background-image: url('../../img/labelbg.jpg');
	backgroud-repeat:no-repeat;
	

}

.add_cp {
	width: 97%;
	float: left;
	margin-left: 1.5%;
	height: 50px;
	margin-top: 15px
}

.add_cp>a {
	height: 35px;
	float: left;
	padding: 0 20px;
	background: #0c89ff;
	color: #fff;
	text-align: center;
	line-height: 45px;
	font-size: 18px;
	text-decoration: none;
	margin-top: 5px;
}

.add_cp>a:hover {
	text-decoration: none;
	color: #fff
}

.add_cp>a:focus {
	color: #fff;
	text-decoration: none
}

.table_con {
	width: 97%;
	float: left;
	margin-left: 1.5%;
	display: block;
	height: auto;
	margin-top: 25px;
	padding-bottom: 5px
}

.table_con table {
	width: 100%
}

.table_con table tbody tr.tb_title {
	background: #eff3f5;
	height: 45px;
	border-bottom: none
}

.table_con table tbody tr.tb_title td {
	height: 25px;
	line-height: 25px;
	border-left: solid 1px #ccc;
	float: left;
	margin-top: 10px
}

.table_con table tbody tr.tb_title td:first-child {
	border-left: none
}

.table_con table tbody tr {
	height: 45px;
	border: 1px solid #ccc;
}

.table_con table tbody tr td {
	height: 30px;
	line-height: 30px;
	float: left;
	margin-top: 8px;
	padding: 0 15px;
	text-align: center;
	border-left: solid 1px #ccc;
}

.table_con table tbody tr td:first-child {
	border-left: none
}

.table_con table tbody tr td a {
	display: inline-block;
	width: auto;/*1028*/
	height: 25px;
	margin-right: 10px;
	border: 0;
	background: none;
	line-height: 25px;
	text-align: center;
	border-collapse: collapse;
	
}

.table_con table tbody tr td a p {
      font-size: 16px;
    }
   
    @media (max-width: 1300px) {
     .table_con table tbody tr td a p {
        font-size: 14px;
      }
    }
    @media (max-width: 1150px) {
     .table_con table tbody tr td a p {
        font-size: 12px;
      }
    }
    
    

.table_con table tbody tr td a:last-child {
	margin: 0
}

.table_con table tbody tr td a.bj_btn {
	border: solid 1px #0c89ff;
	color: #0c89ff
}

.table_con table tbody tr td a.sj_btn {
	border: solid 1px #0c89ff;
	background: #0c89ff;
	color: #fff
}

.table_con table tbody tr td a.del_btn {
	border: solid 1px #f12c0b;
	color: #f12c0b
}