#layer{
	background-color:#fff;
	width:96%;
	height:1024px;
	padding:2%;
}
#search-show{
	width:100%;
	border-collapse:collapse; 
}
#search-show th{
	height:25px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}
#search-show tr{
	text-align:center;
}
#search-show tr td,th{
	font-size:14px;
	text-align:center;
    height:25px;
    border:1px solid #ccc;
}
/* #search-show tr td:nth-child(1){
	 width:50%;
}
#search-show tr td:nth-child(2)
{
	width:30%;
}
#search-show tr td:nth-child(3){
	 width:15%;
} */

.tb_title {
    background: #eff3f5 none repeat scroll 0 0;
    border-bottom: medium none;
    height: 45px;
}

