
#top-wrapper #footer {
	clear: both;
	margin: 0 0 25px 0;
	text-align: center;
}

#top-wrapper #footer ul#footer_nav {
	background: url("../images/footer_bg1.gif") no-repeat scroll left top
		transparent;
	display: block;
	height: 32px;
	padding-top:3px;
	line-height: 28px;
	margin-bottom: 40px;
	width: 1024px;
}

#top-wrapper #footer ul#footer_nav li {
	display: inline;
}

#top-wrapper #footer ul#footer_nav li a {
	border-right: 1px solid #fff;
	color: #fff;
	font-size: 12px;
	padding: 0 28px;
	font-weight:bold;
	text-decoration: none;
}

#footer address {
	color: #B2B2B2;
	font-size: 12px;
	font-style: normal;
	line-height: 21px;
	margin-bottom: 20px;
}

#footer p {
	color: #7F7F7F;
	font-size: 11px;
	line-height: 18px;
}
