
*{
    padding: 0px;
    margin: 0px;
}


html,body{height:100%;}
body{padding: 0px; margin:0px; line-height:1.6; font-family:"Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif !important; color: #222;font-size: 14px;background-color: #e7e8eb;
}
ul,li{padding:0;margin:0}
/*顶部div*/
.top{/* background-color: #204a77; */  
	width: 100%; height:10%;
	min-height:90px;
	color:#fff;
	background:-moz-linear-gradient(top,#6d97c1,#204a77);
	background:-webkit-linear-gradient(top,#6d97c1,#204a77);
	background:linear-gradient(top,#6d97c1,#204a77);
	background: -o-linear-gradient(top, #6d97c1, #204a77); 

     background: -ms-linear-gradient(top, #6d97c1, #204a77); 

    FILTER: progid: DXImageTransform.Microsoft.Gradient(startColorStr=#6d97c1, endColorStr=#204a77);
	
	
	}
.top>div>span{
	color: #fff;
    font-family: "微软雅黑",sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top:20px;
}

/*left-菜单栏*/

.xlcd:before{padding-left:10px; content:"﹀"}
.xlcd{width:20px;height:20px; margin-top:15px !important; 
transform:rotate(-90deg);
-ms-transform:rotate(-90deg); /* Internet Explorer */
-moz-transform:rotate(-90deg); /* Firefox */
-webkit-transform:rotate(-90deg); /* Safari 和 Chrome */
-o-transform:rotate(-90deg); /* Opera */}
.xlcddown:before{padding-left:10px; content:"﹀"}
.xlcddown{
	width:20px;height:20px; margin-top:2px !important; 
	}
.sz:after{content:url(${ctx}/static/img/set.png); float:right; margin:14px 10px 0 0}
.icon-chevron-right1:before{padding-left:10px; content:url(${ctx}/static/img/bi.png)}
.icon-chevron-right2:before{padding-left:10px; content:url(${ctx}/static/img/menu.png)}
.icon-chevron-right3:before{padding-left:10px; content:url(${ctx}/static/img/w_cloud.png)}
.glyph-icon{vertical-align:middle;font-family: FontAwesome;font-size:12px;font-style: normal; margin-top:4px; float:left;}

.left-menu{
    position:absolute;
    float: left;
    min-height: 87%;
    box-shadow: 0 0 10px #BDBDBD;
    width: 180px;
    background:-moz-linear-gradient(top,#204a77,#6d97c1);
    background:-webkit-linear-gradient(top,#204a77,#6d97c1);
    background:linear-gradient(top,#204a77,#6d97c1);
    background: -o-linear-gradient(top, #6d97c1, #204a77); 

     background: -ms-linear-gradient(top, #6d97c1, #204a77); 

    FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#6d97c1, endColorStr=#204a77);
}
#menu{ float:left; width:100%; list-style: none; line-height: 38px; color: #fff !important;}
#menu ul{list-style: none; background:#fff}
#menu li{color: #fff; float:left;width:100%}
#menu a{text-decoration: none;}
#menu a:hover{text-decoration: none;}
#menu>li>a {outline:none;background:#204a77;font-weight: 700; display: block;border-top:solid 1px #2d66a6; color:#fff; font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;}
#menu>li>a:hover{background:#0c89ff;}
#menu li ul{ width:100%; float:left;/*display:block !important;*/}

.menu-list ul{margin-bottom: 1px; line-height: 38px;}
.menu-list ul li{height:38px !important; border-bottom:solid 1px #3c3c46}
.menu-list a{ background:#32323a;height:38px;}
.menu-list a:hover{ color: #fff !important;}
.menu-list a i{opacity:1; padding-left: 10px; padding-right: 10px;}
.menu-list ul a{color: #fff; display: block;}
.menu-list ul a:hover{background: #0c89ff; color: #fff;}

.specialclass{ background:#0c89ff !important}


/*main内容显示*/
.right-content{
    margin-left: 180px;
	background:#fff;
    height: 87%;
    min-height:87%;
    overflow:hidden;
}

.content{position: relative; min-height: 100%; margin-top:0px; margin-right: 5px;}
#page_content{position: absolute; width: 100%; height: 100%;}





