#features {
	clear: both;
}
#feature_slider {
	display: block;
	overflow: hidden;
	position: relative;
	width: 1024px;
}
#feature_images {
	display: block;
	height: 250px;
	width: 1024px;
}
#feature_controls {
	bottom: 17px;
	display: block;
	height: 26px;
	list-style-type: none;
	position: absolute;
	right: 40px;
	z-index: 100;
}
#feature_controls li {
	display: inline;
	text-align: right;
}
#feature_controls li a.prev {
	background: url('../images/left_gray.gif');
	background-position:center;
	background-repeat:no-repeat;
	height: 10px;
	padding:3px 0;
	width: 10px;
}
#feature_controls li a.prev:hover {
	background: url('../images/left_red.gif');
	background-position:center;
	background-repeat:no-repeat;
}
#feature_controls li a {
	display: block;
	float: left;
	position: relative;
	outline:none;
	text-align: left;
}
#feature_controls li#frame_links a {
    background: none repeat scroll 0 0 #F0F0F1;
    border: none;
    margin: 1px;
    padding: 2px;
    text-decoration: none;
    height: 10px;
    line-height: 10px;
    width: 10px;
    text-align: center;
    font-weight:bolder;
    color: #6B6C6F;
}
#feature_controls li#frame_links a.activeSlide,#feature_controls li#frame_links a:hover {
	background: none repeat scroll 0 0 #DC2223;
	color: #FFFFFF;
}
#feature_controls li a.next {
	background: url('../images/right_gray.gif') center no-repeat;
	height: 10px;
	width: 10px;
	padding: 3px 0;
}
#feature_controls li a.next:hover {
	background: url('../images/right_red.gif') center no-repeat;
}
