@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a, img {
	border: 0;
}

body {
	font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
	color:#666;
	text-align: center;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
}

td, th {
	padding: 0;
	font-size:16px;
}

.detail {
	margin: 10px 20px;
	float: left;
}

.clear {
	clear: both;
}

.clear:before, .clear:after {
	content: "";
	display: table;
}

.clear:after {
	clear: both;
}

/* form-div */
.form-div {
	background-color: rgba(255, 255, 255, 0.27);
	border-radius: 10px;
	border: 1px solid #aaa;
	width: 700px;
	margin: 0 auto;
	padding: 30px 0 20px 0px;
	font-size: 14px;
	box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5), 0px 0px 15px
		rgba(75, 75, 75, 0.3);
	overflow: scroll:
}

.form-div input[type="text"], .form-div input[type="password"],
	.form-div input[type="email"], textarea {
	width: 368px;
	margin: 10px 10px 10px 10px;
	/*line-height: 20px;*/
	font-size: 14px;
}

.form-div input[type="checkbox"] {
	margin: 20px 0 20px 10px;
}

.form-div table {
	margin: 0 auto;
	color: rgba(64, 64, 64, 1.00);
}

.form-div table img {
	vertical-align: middle;
}

.footer {
	color: rgba(64, 64, 64, 1.00);
	font-size: 14px;
	margin-top: 30px;
}

.form-div .buttons {
	margin: 0 auto;
}

input[type="radio"], textarea, select {
	margin: 10px;
	padding: 10px;
	width:380px;
	border-radius: 8px;
	box-shadow: inset 0 2px 5px #eee;
	border: 1px solid #D4D4D4;
	color: #333333;
}

select {
	width: 368px;
	margin: 10px;
	line-height: 20px;
	font-size: 14px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="radio"],
	select {
	border-radius: 8px;
	box-shadow: inset 0 2px 5px #eee;
	padding: 10px;
	border: 1px solid #D4D4D4;
	color: #333333;
	margin-top: 5px;
	margin-left:5px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus
	{
	border: 1px solid #50afeb;
	outline: none;
}

input[type="submit"], input[type="button"] {
	padding: 7px 15px;
	background-color: #3c6db0;
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	min-width: 80px;
	margin: 10px 10px 10px 0;
	border: none;
	color: #FFF;
	box-shadow: 1px 1px 1px rgba(75, 75, 75, 0.3);
	
}

input[type="button"]:hover, input[type="submit"]:hover {
	background-color: #5a88c8;
}

input[type="button"]:active, input[type="submit"]:active {
	background-color: #5a88c8;
}

.add_cp {
	float: right;
	color: #5a88c8;
	cursor: pointer;
	font-size: 14px;
	margin-right: 20px;
	text-decoration: none;
}
td input[type='text']{
	width:400px;
	word-break:break-all;
	overflow:hidden;
	}
#layer_left{
	width:44%;height:auto;float:left;margin-left:7%;
}
#layer_right{
	width:44%;height:auto;float:right;
}

}