
#contentmore{
/*�м䲿�ִ�С�������*/
    width:1003px;
    margin:1px auto;
    padding-bottom:6px;
    background-color:#ffffff;

}
/*��content��ҳ��ʽ���п���*/
#content_con_right{
   /*  width:780px; */
    background:url(../../img/contentground.gif) no-repeat;
    display:block;
}
#conten_con_righttitle{
    height:20px;
    padding:20px 0px 10px 0px;
    border-bottom:1px dashed #000000;
}
#conten_con_righttitle h2{
    font-size:16px;
    text-align:center;
}
#conten_con_righttext h4{
    text-align:center;
    padding-top:10px;
    padding-bottom:20px;
    font-weight:normal;
}
#conten_con_righttext p{
    text-indent:25px;
    font-size:12px;
    font-family:Arial;
    font-weight:normal;
    line-height:16px;
    padding-bottom:20px;
    padding-left:10px;
}
#left_con_topcon,#left_con_centercon,#left_con_bottomcon {
      background-color: #CFE0EC;
    height: 160px;
    margin-left: 6px;
}
#left_con_topcon li,#left_con_centercon li,#left_con_bottomcon li{
    /*��������ͷ��ͼƬ*/
   padding-left:30px;
   background:url(../../img/arrow3.gif) no-repeat 15px 6px;
    height:25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.left_con_a a,#center_con_top_rightcon a,.center_con_sec a ,#right_con_centercon a{
 /*�������г����ӵ�����*/
   display:block;
   font-size:14px;
   padding-bottom:3px;
    padding-top:1px;
    padding-right:20%;
 /*  font-family:"������";*/
 font-family:Arial;
   color:#000000;
}
@media screen and (device-width: 375px) {
	.left_con_a a,#center_con_top_rightcon a,.center_con_sec a ,#right_con_centercon a{
	/*�������г����ӵ�����*/
   display:block;
   font-size:4px;
   padding-bottom:3px;
    padding-top:2px;
 /*  font-family:"������";*/
 font-family:Arial;
   color:#000000;
}
@media screen and (device-width: 414px) {
	.left_con_a a,#center_con_top_rightcon a,.center_con_sec a ,#right_con_centercon a{
	/*�������г����ӵ�����*/
   display:block;
   font-size:4px;
   padding-bottom:3px;
    padding-top:2px;
 /*  font-family:"������";*/
 font-family:Arial;
   color:#000000;
}
.left_con_a a:hover,#center_con_top_rightcon a:hover,.center_con_sec a:hover,#right_con_centercon a:hover{
  /*�������г����ӵ��֮���������Ϣ*/
   color:#0000FF;
   /*font-size:14px;*/
}
#message_con_right{
     width:770px;
    height:694px;
    margin-left:3px;
    margin-bottom:2px;
    background:url(../../img/moreground.gif) no-repeat;
    float:left;
      position:relative;
}
#message_con_righttitle,#logininf_con_righttitle{
    position:absolute;
    left:7px;
    top:50px;
    float:left;
    height:28px;
}
#message_con_righttitle div,#logininf_con_righttitle div{
    width:450px;
    height:10px;
    position:absolute;
    left: 30%;
    top: 3px;
}
#message_con_righttitle span,#logininf_con_righttitle span{
    height:10px;
    font-size:16px;
    font-family:Arial;
    color:#3300FF;
    /*float:right;*/
}
#message_con_righttitle img,#logininf_con_righttitle img{
    width:500px;
    height:6px;
    position:absolute;
    left:200px;
    top:10px;
}
#message_con_righttext{
    position:absolute;
    left:100px;
    top:80px;
}
#message_con_rightpicture{
    position:absolute;
    width:160px;
    height:200px;
    background:#ccc;
    left: 591px;
    top: 85px;

}
#message_con_rightimage{
    width:150px;
    height:90px;
    position:absolute;
    left:500px;
    top:550px;
}
#message_con_righttext table th{
    width:120px;
    height:25px;
}
#message_con_righttext table td{
    width:400px;
}
#message_con_righttext table th,#message_con_righttext table td{
    font-family:Arial;
    color:#000000;
    font-size:14px;
    font-weight:normal;
    float:left;
    text-align: left;
}
#message_con_rightimage img{
    border-style:none;
}
#message_con_rightmusiclist{
    position:absolute;
    width:278px;
    left: 122px;
    top: 549px;
    border:1px solid #ccc;
}
#message_con_rightmusiclistleft{
    width:80px;
    float:left;
    padding-top:3px;
}
#message_con_rightmusiclistleft span{
    float:right;
    font-size:14px;
    font-weight:bold;
}
#message_con_rightmusiclistright{
    width:100px;
    float:left;
}
#message_con_rightmusiclistright li{
    padding:5px 5px;
    height:30px;
    width:150px;
}
.left{
    float:left;
}
.right{
    float:right;
}
#message_con_rightmusiclistright li img{
    border:0px;
}
#message_con_right,#logininf_con_right{
    position:relative;
   width:65%;
    height:694px;
    background:url(/images/messageground.gif) no-repeat;
}