/* ::::: http://202.43.153.189/css/global.css ::::: */
body, p, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, fieldset,
	legend, input, option, textarea, td, blockquote, pre, hr, button, menu
	{
	margin: 0px;
	padding: 0px;
}

button, input, select, textarea {
	font: 14px "Microsoft YaHei";
}

img {
	border: 0px none;
}

ol, ul {
	list-style: outside none none;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 12px;
}

a {
	text-decoration: none;
	color: rgb(0, 0, 0);
	outline-style: none;
}

a:hover {
	text-decoration: none;
	color: rgb(7, 87, 134);
}

.clearfix::after {
	content: ".";
	clear: both;
	display: block;
	height: 0px;
	visibility: hidden;
	overflow: hidden;
	line-height: 0;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.oh {
	overflow: hidden;
}

.marA {
	margin: 0px auto;
}

.width960 {
	width: 960px;
}

body {
	color: rgb(0, 0, 0);
	background-color: rgb(242, 242, 242);
	font: 12px/1.5 "Microsoft YaHei";
}
/* ::::: http://202.43.153.189/css/main.css ::::: */
body {
	background: #FFF;
	background-image: url(../../img/globalbg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	color: #000;
}


body { background:#FFF;background-image:url(../../img/index_new/globalbg.jpg); background-repeat: no-repeat; background-position: center top; color:#000; }
#header { height: 106px; }
#logo { margin: 17px 0px 0px; width: 600px; }
#logo h1{
	font-size:30px;
	font-weight:bold;
	line-height:45px;
	}
#headerRight { width: 360px; height: 106px; }
#headerInfo { width: 170px; height: 24px; margin-left: 180px; margin-top: 20px;padding:5px; }
#headerInfo a { margin-left: 10px; background-attachment: scroll; background-repeat: no-repeat; background-position: left center; padding-left: 20px; }
#headerInfo a { color:#AAD5FF }
#headerInfo a:hover { text-decoration: none; }
#headerInfo .home { background-image:url(../../img/iconRegister.png); }
#headerInfo .favorites { background-image:url(../../img/iconSignin.png); }


#logo {
	margin: 17px 0px 0px;
	width: 600px;
}

#logo h1 {
	font-size: 30px;
	color:#fff;
	
}

#headerRight {
	width: 360px;
	height: 106px;
}

#headerInfo {
	width: 2000px;
	height: 24px;
	margin-left: 180px;
	margin-top: 20px;
	padding: 0px;
}

#headerInfo a {
	margin-left: 10px;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}

#headerInfo a {
	color: #AAD5FF
}

#headerInfo a:hover {
	text-decoration: none;
}

#headerInfo .home {
	background-image: url(../../img/iconRegister.png);
}

#headerInfo .favorites {
	background-image: url(../../img/iconSignin.png);
}

#headerSearch {
	height: 25px;
	width: 230px;
	margin-left: 130px;
}

#headerSearchBak {
	height: 23px;
	width: 200px;
	background-attachment: scroll;
	background-image: url('inputtext.png');
	background-repeat: no-repeat;
	background-position: center center;
}

#headerSearch .inputText {
	width: 199px;
	height: 22px;
	line-height: 20px;
	border: 0px none rgb(255, 255, 255);
	padding-left: 9px;
	margin-right: 5px;
	color: rgb(98, 143, 179);
}

#searchForm_1 {
	margin-top: 10px;
}

#headerSearchButton {
	background-image: url(../../img/searchbutton.png);
}

#content {
	margin: 0px auto;
	width: 960px;
	height: 860px;
	padding-bottom: 6px;
	background-color: #ffffff;
	display: block;
	overflow: hidden;
}

#menu {
	background: url(../../img/menubg.jpg);
}

#menuBg {
	height: 38.6px;
	width: 960px;
}

#menuBg ul {
	overflow: hidden;
	border: (1px, solid, #1088BC);
	font-family: "Microsoft YaHei";
	font-weight: bold;
	margin: 0px;
}

#menuBg li {
	float: left;
	list-style-type: none;
	width: 192px;
}

#menuBg a {
	color: #FFF;
	padding-top: .8em;
	padding-bottom: .8em;
	border-width: 3px;
	border-color: transparent;
}

#menuBg li+li a {
	border-left: 1px solid #ccc;
	margin: auto;
}

#menuBg li a:hover {
	color: #204A77;
	background-color: snow;
	border-left: 1px solid #1088bc;
}


#menuBg ul li a{

    line-height:12px;
    font-size:16px;
    display:block;
    text-align:center;
	border-bottom:1px solid #1088BC;

	/*border-left:1px solid #ccc;*/
	border-left: 1px solid #1088BC;
	border-collapse: collapse;
}
 #menuBg .colorHome2 a:hover{
	background-image:url(../../img/homebg.jpg);
	border-left:1px solid #1088BC;
	}
.colorHome2{
	background-image:url(../../img/homebg.jpg);
}	

#menu li a:hover, #menu li.show a, #menu li.color a {
	display: block;
	text-decoration: none;
	background-color: rgb(255, 255, 255);
	color: rgb(17, 96, 157);
}

#menuBg .homeColor a:hover {
	background-image: url(../../img/homebg.jpg);
	border-left: 1px solid #1088BC;
}

.homeColor {
	border: none;
}

#sbanner_box {
	height: 195px;
	background-color: rgb(255, 255, 255);
	margin-top: 26.4px;
}

#sbanner {
	width: 952px;
	height: 195px;
	margin-top: 1px;
	background-image: url(../../img/banner_second.png);
}

#scontentRegiona {
	height: 800px;
	ba ckground-color: rgb(255, 255, 255);
}

.resultsShowTitle {
	height: 34px;
	width: 952px;
	border-bottom: 3px solid #016ab4;
	margin-bottom: 10px;
	margin-top: 20px;
}

.resultsShowTitle h1 {
	line-height: 34px;
	color: rgb(18, 87, 156);
	font-size: 18px;
	background-attachment: scroll;
	background-image: url('ico11.png');
	background-repeat: no-repeat;
	background-position: left center;
}

.resultsShowTitle .title {
	width: 500px;
}

.resultsShowTitle .nva {
	padding-right: 30px;
	color: rgb(18, 87, 156);
	line-height: 34px;
}

.sBg {
	background-image: url('sbg.jpg');
	background-repeat: repeat-y;
}

#scontentMenu {
	width: 25%;
	height: 600px;
	margin-left: 7px;
	margin-top: 20px;
}

#scontentMenuTitle {
	width: 250px;
	height: 42px;
	background-image: url('lmbg.jpg');
	margin-bottom: 15px;
}

#scontentMenuTitle h1 {
	color: rgb(18, 87, 156);
	font-size: 18px;
	line-height: 42px;
	text-align: center;
}
/*#scontentMenu li { height: 44px; width: 226px; margin-left: 10px; margin-top: 5px; } **************2016 6/1 */
.scontentMenu a, .scontentMenuB a, .scontentMenu a:hover {
	display: block;
	height: 44px;
	width: 226px;
	background-image: url('sbottonbga.jpg');
	text-align: center;
	line-height: 44px;
	color: rgb(18, 87, 156);
	font-size: 14px;
}

.scontentMenu a:hover, .scontentMenuB a {
	background-image: url('sbottonbgb.jpg');
	color: rgb(255, 255, 255);
}

#scontentR {
	width: 685px;
	margin-left: 10px;
}

#scontentR .resultsShowTitle {
	width: 640px;
}

#scontentR .title {
	width: 300px;
}

#scontentR .nva {
	padding-right: 5px;
}

#scontentR .content {
	
}

#bottomRegiona {
	height: 140px;
	text-align: center;
	line-height: 22px;
}

#scontentMenu li {
	height: auto;
}

.scontentMenu a, .scontentMenuB a, .scontentMenu a:hover {
	width: 150px;
	padding-left: 76px;
	text-align: left;
	font-weight: bold;
}
/*----------------------------------------------------------------------------------------------------------------------------------*/
#top-wrapper #body {
	background-color: #000000;
	padding-bottom: 30px;
}

#top-wrapper #body_content {
	background: url("../../img/content_bg.gif") repeat-y scroll 232px 0
		#000000;
	display: block;
	margin-top: 3px;
	overflow: auto;
	width: 1024px;
}

#top-wrapper #body_content #portal-breadcrumbs {
	border: medium none;
	color: #666666;
	font-size: 11px;
	line-height: 15px;
	padding: 15px 22px;
}

#portal-breadcrumbs {
	border-bottom: 1px solid #8CACBB;
	line-height: 1.6em;
	padding-left: 2em;
	padding-right: 2em;
	text-transform: none;
}

#top-wrapper #body_content #left-portlets-container {
	float: left;
}

#left_con {
	float: left;
	width: 25%;
	display: block;
	margin-top: 20px;
	margin-left: 7px;
}

#left_con_top, #left_con_center {
	background: none repeat scroll 0 0 #FAFBFE;
	height: 250px;
	margin-top: 0px;
	position: relative;
	margin-bottom: 10px;
	width: 100%;
}

.left_con_bar {
	height: 40px;
	margin-left: 6px;
	border-radius: 10px 10px 0px 0px;
	background-color: #016ab4;
	line-height: 40px;
}

.left_con_bar a {
	background: url("../../img/more2.gif") no-repeat scroll 0 0 transparent;
	height: 20px;
	left: 80%;
	position: absolute;
	top: 15px;
	width: 15%;
}

#left_con_bottom {
	background: none repeat scroll 0 0 #FAFBFE;
	height: 250px;
	margin-bottom: 0px;
	position: relative;
	width: 100%;
}

#more_con_right, #message_con_right, #logininf_con_right {

    background: url("../../img/moreground.gif") no-repeat scroll 0 0 transparent;
    float: left;
    margin-bottom: 2px;
    width: 64%;
    margin-top:20px;
    margin-left:5%;

}

#more_con_rightbar {
	/*   background: url("../../img/morebar.gif") repeat-x scroll 0 0 transparent;     */
	height: 28px;
	position: relative;
	margin-bottom: -30px;
}

#more_con_rightbar span {
	/* color: #0000CC;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 16px;
    left: 350px;
    position: absolute;*/
	font-size: 18px;
	color: #0168b3;
	font-family: "Microsoft YaHei";
	font-weight: bold;
	padding-left: 250px;
}

#more_con_rightcon {
	height: 636px;
	position: relative;
}

#more_con_rightcon li {
	list-style: none;
	width: 670px;
	height: 20px;
	padding-left: 50px;
	display: block;
	padding-right: 0px;
}

#more_con_rightcon li a {
	float: left;
	color: #000000;
}

#more_con_rightcon li a:hover {
	color: #0033CC;
}

#more_con_rightcon li span {
	float: right;
}

#left_con_topcon li, #left_con_centercon li, #left_con_bottomcon li {
	/*闁荤姳绀佹晶浠嬫偪閸℃鍟呴柨鏃�濞呯姷绱掗悪锟藉箹闁靛洦妫冮幆鍐礋椤愶絿顪岄梺缁橆毀閹凤拷
   padding-left:30px;
   background:url(../img/arrow3.gif) no-repeat 15px 6px;
}
.left_con_a a,#center_con_top_rightcon a,.center_con_sec a ,#right_con_centercon a{
 /*闁荤姳绀佹晶浠嬫偪閸℃稑绠ラ柨鐔诲Г缁犳帡鎮洪幒鎴炲殗闁硅棄銈搁獮鎺楀Ψ瑜庨悾閬嶆倵濞戞瑣浠︾紓宥忔嫹/
   display:block;
   font-size:14px;
   padding-bottom:3px;
    padding-top:2px;
 /*  font-family:"闂佸搫鍊瑰姗�偩椤愶絾濯撮柨鐕傛嫹*/
	font-family: "Microsoft YaHei";
	color: #204A77;
}

.left_con_a a:hover, #center_con_top_rightcon a:hover, .center_con_sec a:hover,
	#right_con_centercon a:hover {
	/*闁荤姳绀佹晶浠嬫偪閸℃稑绠ラ柨鐔诲Г缁犳帡鎮洪幒鎴炲殗闁硅棄銈搁獮鎺楀Ψ瑜嶆禒顖炴煕閹达綆鍞虹紒鐙呯秮瀹曘儲鎯旈敍鍕喕婵炶揪绲鹃幐楣冩偤閹寸偟鈹嶉柍鈺佸暕缁憋拷/
	color: #0000FF;
	/*font-size:14px;*/
}

.left_con_bar span {
	color: #ffffff;
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
	font-weight: bold;
	left: 22px;
	position: absolute;
	top: 4px;
}

#body_container {
	clear: both;
	display: block;
	padding-top: 0;
}

#contentbg {
	background: url("../img/morebar.gif") repeat-x scroll 0 0 transparent;
	width: 1024px;
	height: 35px;
}

#contentmore {
	/*婵炴垶鎼╅崣鍐ㄎ涢崸妤佺劸闁靛鍎遍悗璇差熆閸棗鍟板В鍫ユ⒒閸屾粠妫庣紒鎰〒閹峰宕滆閺嬶拷/
	width: 1003px;
	margin: 1px auto;
	padding-bottom: 6px;
	background-color: #ffffff;
}
/*闁诲海鏁搁顣昻tent缂傚倸鍟崹鍧楀Υ婢舵劕鍐�柣鎾虫捣绾拷寮堕埡鍌滎灱妞ゃ垺鍨块獮鎺曨樉闁糕晪鎷�
#content_con_right{
    /* width:960px; */
background
:url
(../img/contentground
.gif
)
 
no-repeat
;

    
display
:block
;

    
margin-left
:
10px;


}
#conten_con_righttitle {
	height: 20px;
	padding: 0px 0px 10px 0px;
	border-bottom: 3px solid #016ab4;
	/*border-bottom:1px dashed #000000;*/
	color: #0168b3;
	font-family: "Microsoft YaHei";
	font-size: 18px;
	text-align: center;
	font-weight: bond;
}

#conten_con_righttitle h2 {
	font-size: 18px;
	text-align: center;
}

#conten_con_righttext h4 {
	text-align: right;
	padding-top: 10px;
	padding-bottom: 20px;
	font-weight: normal;
}

#conten_con_righttext p{
    text-indent:25px;
    font-size:12px;
    font-family:Arial;
    font-weight:normal;
    line-height:16px;
    padding-bottom:20px;
    padding-left:10px;

}

#left_con_topcon, #left_con_centercon, #left_con_bottomcon {
	padding-top: 10px;
	background-color: snow;
	height: 180px;
}

#left_con_topcon li, #left_con_centercon li, #left_con_bottomcon li {
	/*闁荤姳绀佹晶浠嬫偪閸℃鍟呴柨鏃�濞呯姷绱掗悪锟藉箹闁靛洦妫冮幆鍐礋椤愶絿顪岄梺缁橆毀閹凤拷
   padding-left:30px;
   background:url(../../img/arrow3.gif) no-repeat 15px 6px;
}
.left_con_a a,#center_con_top_rightcon a,.center_con_sec a ,#right_con_centercon a{
 /*闁荤姳绀佹晶浠嬫偪閸℃稑绠ラ柨鐔诲Г缁犳帡鎮洪幒鎴炲殗闁硅棄銈搁獮鎺楀Ψ瑜庨悾閬嶆倵濞戞瑣浠︾紓宥忔嫹/
   display:block;
   font-size:14px;
   
    padding-top:1px;
 /*  font-family:"闂佸搫鍊瑰姗�偩椤愶絾濯撮柨鐕傛嫹*/
	font-family: Arial;
	color: #204A77;
}

.left_con_a a:hover, #center_con_top_rightcon a:hover, .center_con_sec a:hover,
	#right_con_centercon a:hover {
	/*闁荤姳绀佹晶浠嬫偪閸℃稑绠ラ柨鐔诲Г缁犳帡鎮洪幒鎴炲殗闁硅棄銈搁獮鎺楀Ψ瑜嶆禒顖炴煕閹达綆鍞虹紒鐙呯秮瀹曘儲鎯旈敍鍕喕婵炶揪绲鹃幐楣冩偤閹寸偟鈹嶉柍鈺佸暕缁憋拷/
	color: #0000FF;
	/*font-size:14px;*/
}

#more_con_rightconn {
	height: 636px;
	position: relative;
}

.morerightconn {
	list-style: none;
	width: 600px;
	height: 20px;
	/* padding-left:50px;*/
	display: block;
	padding-right: 0px;
	float: left;
	padding-bottom: 25px;
}

.morerightconn a {
	color: #000000;
}

.morerightconn a:hover {
	color: #0033CC;
}

#conten_con_righttext h4 {
	text-align: center;
}

#message_con_righttitle div span {
	text-align: center;
	font-size: 18px;
	color: #0168b3;
	font-family: "Microsoft YaHei";
	font-weight: bold;
}

/*-----------濠电偞娼欑换妤咃綖瀹ュ闂柕濞垮劚閹垿鎮楅惂鍛婂--------------------------------------------------------------------------------------*/
html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

body {
	margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	main, menu, nav, section, summary {
	display: block;
}

audio, canvas, progress, video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

audio:not ([controls] ) {
	display: none;
	height: 0;
}

[hidden], template {
	display: none;
}

a {
	background-color: transparent;
}

a:active, a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b, strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not (:root ) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button, input, optgroup, select, textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

button {
	overflow: visible;
}

button, select {
	text-transform: none;
}

button, html input[type="button"], /* 1 */ input[type="reset"], input[type="submit"]
	{
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

button[disabled], html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button
	{
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box; /* 2 */
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration
	{
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 20px;
}

td, th {
	padding: 10px 0px;
	font-size: 14px;
	font-family: "Microsoft YaHei";
}

.title_fl p {
	font-size: 18px;
	color: #0168b3;
	font-family: "Microsoft YaHei";
	font-weight: bold;
}